@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --light-red: hsl(0, 100%, 67%);
  --orange: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt: hsl(234, 85%, 45%);
  --bg: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --ball: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  --btn: hsl(224, 30%, 27%);
  --font: hsl(221, 100%, 96%);
  --font-gray: hsl(241, 100%, 89%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: "Hanken Grotesk", sans-serif;
}

html {
  font-size: 62.5%;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sign {
  margin-top: 2rem;
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  max-width: 60rem;
  width: 100%;
  color: var(--white);
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.left-col {
  background-image: var(--bg);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 30px;
}
.left-col h1 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: var(--font-gray);
}
.left-col h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.left-col p {
  font-size: 1.4rem;
  max-width: 25ch;
  color: var(--font-gray);
}
.ball h2 {
  font-size: 5rem;
}
.ball span {
  font-size: 1.4rem;
  color: var(--font-gray);
}
.ball {
  border-radius: 9999px;
  width: 15rem;
  height: 15rem;
  padding: 3rem;
  background-image: var(--ball);
  animation: pulse 1s ease infinite;
  margin-bottom: 4rem;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.right-col {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right-col h4 {
  color: var(--btn);
  margin-bottom: 2.4rem;
}
.row {
  display: flex;
  padding: 1.4rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  color: var(--btn);
  margin-bottom: 1.4rem;
}
.row span {
  font-size: 1.4rem;
  font-weight: 900;
}
.head h5 {
  font-weight: 500;
}
.head {
  display: flex;
  gap: 1rem;
}
.head-1 {
  color: var(--light-red);
}
.head-2 {
  color: var(--orange);
}
.head-3 {
  color: var(--green-teal);
}
.head-4 {
  color: var(--cobalt);
}
.row:nth-of-type(1) {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.row:nth-of-type(2) {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.row:nth-of-type(3) {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.row:nth-of-type(4) {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.btn {
  background-color: var(--btn);
  color: var(--white);
  padding: 1.2rem 4rem;
  border-radius: 9999px;
  margin-top: 1.4rem;
  cursor: pointer;
  transition: 0.5s ease;
  font-size: 1.6rem;
}
.btn:hover {
  transform: scale(1.1);
}
/* mobile */
@media (max-width: 376px) {
  #wrapper {
    grid-template-columns: 1fr;
  }
  .left-col {
    padding-top: 10rem;
  }
  .left-col h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .left-col p {
    max-width: 100%;
  }
  .ball {
    width: 12rem;
    height: 12rem;
    border-radius: 999rem;
    padding: 6%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .ball h2 {
    font-size: 4rem;
  }
  .ball span {
    font-size: 1.1rem;
  }
  .right-col {
    height: 100%;
    padding: 2rem;
  }
  .right-col h4 {
    margin-bottom: 1rem;
  }
  .btn {
    margin-top: 0.5rem;
  }
  .sign {
    display: none;
  }
  .row {
    flex-wrap: wrap;
    min-width: 20vh;
  }
}
